/* Servicios.css */

.back-container {
    padding: 20px;
    text-align: center;
  }
  
  .form-wrapper-2 {
    margin: 20px auto;
    max-width: 400px;
  }
  
  .agregar-button {
    background-color: #ffa500;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .agregar-form {
    padding: 20px;
  }
  
  .form-section {
    margin-bottom: 20px;
  }
  
  .form-section h3 {
    margin-top: 0;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .confirm-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .form-field {
    margin-bottom: 15px;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-field input[type="text"],
  .form-field input[type="number"],
  .form-field select,
  .form-field textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-field select[multiple] {
    height: auto;
  }
  